.photos {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 30%;
    -moz-column-width: 30%;
    column-width: 30%;
    padding: 0, 12px;
}

.photos .photo {
    cursor: pointer;
    margin-bottom: 12px;
}

.photos .photo:hover {
    filter: opacity(.8);
}